<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Eliminar Videojuegos</h2>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Id</label>
                    <input type="text" class="form-control" name="id" [(ngModel)]="v.id" readonly>
                </div>
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control" name="nombre" [(ngModel)]="v.nombre" readonly>
                </div>
                <div class="form-group">
                    <label for="">Marca</label>
                    <input type="text" class="form-control" name="calorias" [(ngModel)]="v.marca" readonly>
                </div>
                <div class="form-group">
                    <label for="">Genero</label>
                    <input type="text" class="form-control" name="precio" [(ngModel)]="v.genero" readonly>
                </div>
                <div class="form-group">
                    <label for="">Precio</label>
                    <input type="number" class="form-control" name="color" [(ngModel)]="v.precio" readonly>
                </div>
                <button class="btn btn-danger" (click)="eliminar()">Eliminar</button>
            </form>
        </div>
    </div>
</div>